<div class="content">
	<table id="main-table">
		<tr>
			<td class="left">
				{include file="mods/employer/_main_box.html"}

				<p class="top-title"><img src="{$imgDir}title/account_settings.gif" alt="#" /></p><br />

				<div class="grey-box-top">&nbsp;</div>
				<div class="grey-box-bg">
					<form class="account-setting-form" method="" action="">
					<p><a class="f12" href="{$siteAdr}?mod=profile&amp;uid={$uid}">Personal Information</a><a href="javascript://"><img src="{$imgDir}notifications_b.gif" alt="#" /></a></p>
					<div class="clear">&nbsp;</div><br />
						<p>Notify me:</p>
						<ul>
							<li><input class="radio-input" type="radio" /><label>as events occur</label></li>
							<li><input class="radio-input" type="radio" /><label>as a summary each day</label></li>
						</ul>
						<p>Notify me by mail when:</p>
						<ul>
							<li><input type="checkbox" checked="checked" /><label>Crewed Up makes an announcement</label></li>
							<li><input type="checkbox" checked="checked" /><label>Someone writes me a message</label></li>
							<li><input type="checkbox" checked="checked" /><label>Someone writes me a comment/recommendation</label></li>
							<li><input type="checkbox" checked="checked" /><label>Someone sends me a contact request</label></li>
							<li><input type="checkbox" checked="checked" /><label>Someone blocks me</label></li>
							<li><input type="checkbox" /><label>Someone posts a new job (selected feeds)</label></li>
							<li><input type="checkbox" /><label>Someone posts new gear (selected feeds)</label></li>
							<li><input type="checkbox" /><label>Contact updates their Live Resume</label></li>
							<li><input type="checkbox" /><label>Contact posts a new blog entry</label></li>
						</ul>
						<p class="tools"><a href="#"><img src="{$imgDir}cancel_b.gif" alt="#" /></a><a href="#"><img src="{$imgDir}save_b.gif" alt="#" /></a></p>
					</form>

				</div>
				<div class="grey-box-bottom">&nbsp;</div>
			</td>
			<td class="right">
			    {include file="mods/employer/_left_box.html"}	
			</td>
		</tr>
	</table>
</div>