<div class="content">
	<p class="top-title"><img src="{$imgDir}title/search_results.gif" alt="#" /></p>
	<p>{$gc} result{if 1 < $search_c}s{/if} found for "<span class="color_brown">{$sstr}</span>"</p><br />
	<table id="main-table">
		<tr>
			<td class="left">
				<div class="grey-box-top">&nbsp;</div>
				<div class="grey-box-bg">
					
                    {if $gc}
                    <p><b>Gear</b></p>
					{*<p>Top 12 from 245 results</p>*}
					<p>&nbsp;</p>

					    <table class="credits-t">
                        {section name=i loop=$gcl}
							<tr>
								<td class="first" style="border:0">{if $gcl[i].image}<a href="{$siteAdr}gear{$gcl[i].uid}/?id={$gcl[i].id}"><img src="{$icPath}/{$gcl[i].image}" alt="{$gcl[i].title}" /></a>{else}&nbsp;{/if}</td>
								<td style="border:0"><b><a href="{$siteAdr}gear{$gcl[i].uid}/?id={$gcl[i].id}">{$gcl[i].title}</a></b><br /></td>
							</tr>
                        {/section}    
						</table>
						<br /><p class="view-all-found">{$pagging}</p>
                     {/if}  
                     <a href="{$siteAdr}search.php?sstr={$sstr}">Show All Search Results</a>
                      
				<div class="clear">&nbsp;</div>
				</div>
				<div class="grey-box-bottom">&nbsp;</div>

			</td>
			<td class="right">
			<!-- Search Box -->
				<p class="right-title"><img src="{$imgDir}search_ico.gif" alt="" />Search Categories</p>
				<ul class="guide">
					<li><a href="{$siteAdr}search.php?sstr={$sstr}">All Categories</a></li>
					{if $mc}<li><a href="{$siteAdr}search.php?mod=member&amp;sstr={$sstr}">Crew Members</a></li>{/if}
                    {if $ec}<li><a href="{$siteAdr}search.php?mod=employers&amp;sstr={$sstr}">Employers</a></li>{/if}
                    {if $jc}<li><a href="{$siteAdr}search.php?mod=jobs&amp;sstr={$sstr}">Jobs</a></li>{/if}
                    <li>Gear</li>
				</ul>
			</td>
		</tr>
	</table>
</div>
<!-- /Content -->