<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CrewedUp</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$stlDir}styles_print.css" rel="stylesheet" type="text/css" />
<link href="{$stlDir}forms.css" rel="stylesheet" type="text/css" />
<link href="{$stlDir}curve.css" rel="stylesheet" type="text/css" />

<!--[if gte IE 5.5000]>
<script type="text/javascript" src="{$jsDir}png.js"></script>
<![endif]-->
</head>
<body onload="print(); document.close(); return false;">

<!-- Content -->
{$_content}
<!-- /Content -->


</body>
</html>
