<div class="content">
	<table id="main-table">
		<tr>
			<td class="left">
				<div class="grey-box-top">&nbsp;</div>
				<div class="grey-box-bg">
					<div class="grey-box-left">

						<div class="container05" style="margin:0">
							<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
							<div class="ml"><img src="{if $pi.image}{$icPath}/{$pi.image}{else}{$imgDir}no_photo2.gif{/if}" alt="Photo" width="150px;" height="150px;" /></div>
							<div class="bl"><div class="blc"></div><div class="brc"></div></div>
						</div>

						<p class="upload-logo"><img src="{$imgDir}upload_logo_ico.gif" alt="#" /><a href="#">Upload logo</a></p>

						<div class="swhite-box-top">
							<div class="swhite-box-bottom">
								<ul class="smenu">
									<li><img src="{$imgDir}ico09.gif" alt="#" /><a href="#">Episode Guide</a></li>
									<li><img src="{$imgDir}ico10.gif" alt="#" /><a  href="#">Crew Members</a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="grey-box-right">
						<h1 class="float-l">{$pi.title}</h1>
						<div class="mini-nav">
							<div>
								<ul>
									<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
								</ul>
							</div>
						</div>
						<p class="clr"><b>{$pi.subtitle}</b></p>

						<p>&nbsp;</p>
						<p>{$pi.descr} </p>
						<p>&nbsp;</p>

						<div class="mini-title">
							<p><img src="{$imgDir}ico11.gif" alt="#" /><a href="#"><img src="{$imgDir}arrow_down2.gif" alt="#" /></a><b>Production Company</b></p>
							<div class="mini-nav">
								<div>
									<ul>
										<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
									</ul>
								</div>
							</div>
						</div>

						<p class="box-with-img"><img src="{$imgDir}img05.gif" alt="#" /><a href="#">Carser-Werner-Manday-Production</a></p>

						<div class="mini-title">
							<p><b>Additional Production Companies</b></p>
							<div class="mini-nav">
								<div>
									<ul>
										<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
									</ul>
								</div>
							</div>
						</div>

						<p class="box-with-img"><img src="{$imgDir}img06.gif" alt="#" /><a href="#">Carser-Werner-Manday-Production</a></p>

						<div class="mini-title">
							<p><b>Shown on</b></p>
							<div class="mini-nav">
								<div>
									<ul>
										<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
									</ul>
								</div>
							</div>
						</div>

						<p class="box-with-img"><img src="{$imgDir}img07.gif" alt="#" /><img src="{$imgDir}img08.gif" alt="#" /></p>

						<p>&nbsp;</p>

						<div class="mini-title">
							<p><img src="{$imgDir}ico04_.gif" alt="#" /><a href="#"><img src="{$imgDir}arrow_down2.gif" alt="#" /></a><b>Crew Members</b></p>
							<div class="mini-nav">
								<div>
									<ul>
										<li><img src="{$imgDir}small_view_ico.gif" alt="#" /><a href="#">View</a></li>
										<li><img src="{$imgDir}small_print_ico.gif" alt="#" /><a href="#">Print</a></li>
										<li><img src="{$imgDir}small_fr_ico.gif" alt="#" /><a href="#">Forward</a></li>
									</ul>
								</div>
							</div>
						</div>

						<p class="seasons-nav"><b>Seasons&nbsp;&nbsp;</b>All<a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a></p>

						<table class="roster-t">
							<tr>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">Michael Minter</a><br />CEO</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">Kennet Higgins</a><br />Production</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">TCoah</a><br />Assistant Director</td>
							</tr>
							<tr>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">tamlyn</a><br />Vice president</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">jamesdeer</a><br />Manager</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">Mini 578</a><br />Music Department</td>
							</tr>
							<tr>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">paulWash</a><br />Director</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">phueka</a><br />Casting Manager</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">digit</a><br />Chief Designer</td>
							</tr>
							<tr>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">paulWash</a><br />Director</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">phueka</a><br />Casting Manager</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">digit</a><br />Chief Designer</td>
							</tr>
							<tr>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">paulWash</a><br />Director</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">phueka</a><br />Casting Manager</td>
								<td class="av1">
								<div class="container02">
									<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
									<div class="ml"><a href="#"><img src="{$imgDir}02friends_avatar.gif" alt="#" /></a></div>
									<div class="bl"><div class="blc"></div><div class="brc"></div></div>
								</div>
								</td>
								<td class="av2"><a href="#">digit</a><br />Chief Designer</td>
							</tr>
						</table>

					</div>
				<div class="clear">&nbsp;</div>
				</div>
				<div class="grey-box-bottom">&nbsp;</div>

			</td>
			<td class="right">
			<!-- Episode Guide -->
				<div class="mini2-nav">
					<div>
						<ul>
							<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
						</ul>
					</div>
				</div>
				<p class="right-title"><img src="{$imgDir}episode_guide_ico.gif" alt="#" /><a href="#">Episode Guide</a></p>
				<ul class="guide">
					{section name=i loop=$ep}
					<li><a href="#">{$ep[i].title}</a></li>
					{/section}
				</ul>

				<!-- Air Date -->
				<div class="mini2-nav">
					<div>
						<ul>
							<li><img src="{$imgDir}small_edit_ico.gif" alt="#" /><a href="#">Edit</a></li>
						</ul>
					</div>
				</div>
				<p class="right-title"><img src="{$imgDir}dates_ico.gif" alt="#" />Air Date</p>
				<div class="air-date">
					<img src="{$imgDir}img09.gif" alt="#" />
					December 10<br />7:00 PM <br /><a href="#">Season 1 Ep 3</a>
				</div>
				<div class="air-date">
					<img src="{$imgDir}img09.gif" alt="#" />
					December 11<br />7:00 PM <br /><a href="#">Season 1 Ep 4</a>
				</div>
			</td>
		</tr>
	</table>
</div>