<div class="content">
	{*
    <p><img src="{$imgDir}title/featured_art_directors.gif" alt="#" /></p><br />
	<table class="view-box-t">
		<tr>
			<td class="bt">
			<div class="tt">
			<div class="container04">
				<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
				<div class="ml"><a href="#"><img src="{$imgDir}member_photo79.jpg" alt="#" /></a></div>
				<div class="bl"><div class="blc"></div><div class="brc"></div></div>
			</div>
			<p><a class="f18" href="#">Erin Vanderpool</a></p>
			<p><b>art director</b></p>
			<p><b>28</b> y.o., Los Angeles, <a href="#">California</a></p>
			<p>Latest work: <a href="#">I love New York 2</a></p>
			<p class="u-tools"><img src="{$imgDir}add2_ico.gif" alt="#" /><a href="#">Add to contacts</a></p>
			</div>
			</td>
			<td class="bt">
			<div class="tt">
			<div class="container04">
				<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
				<div class="ml"><a href="#"><img src="{$imgDir}member_photo79.jpg" alt="#" /></a></div>
				<div class="bl"><div class="blc"></div><div class="brc"></div></div>
			</div>
			<p><a class="f18" href="#">Nick Carter</a></p>
			<p><b>art director</b></p>
			<p><b>28</b> y.o., Los Angeles, <a href="#">California</a></p>
			<p>Latest work: <a href="#">I love New York 2</a></p>
			<p class="u-tools"><span>In contacts</span></p>
			</div>
			</td>
		</tr>
	</table>
    *}
    <h1 style="color:#000;font-size:2.4em;font-weight:normal;"><div style="float: left;"><img src="{$imgDir}title/uico.gif" alt="" /></div><div style="float:left; margin-top: 8px;">{$ci.cat}</div></h1>
	<div class="clear"><!-- --></div><br />
    <p class="contacts-top">
        {if !$letter}All{else}<a href="{$siteAdr}crew.php?cat={$cat}">All</a>{/if}
		{foreach key=k item=i from=$la}<a href="{$siteAdr}crew.php?cat={$cat}&amp;letter={$i}"{if $letter == $i} style="background-color:#CCC; padding: 3px;"{/if}>{$i}</a> {/foreach}
		</p>
		<br />

	<table class="view-box-t">
		{section name=i loop=$pl}
        {if $smarty.section.i.index mod 2 == 0}
        <tr>
        {/if}
			<td class="bt">
			<div class="tt">
			
            <div class="container04">
				<div class="tl"><div class="tlc"></div><div class="trc"></div></div>
				<div class="ml"><a href="{$siteAdr}profile{$pl[i].uid}"><img src="{if $pl[i].image}{$icPath}/{$pl[i].image}{else}{$imgDir}no_photo2.gif{/if}" alt="Photo" width="79px" /></a></div>
				<div class="bl"><div class="blc"></div><div class="brc"></div></div>
			</div>
            
			<p><a class="f18" href="{$siteAdr}profile{$pl[i].uid}">{$pl[i].name|wordwrap} {$pl[i].lname|wordwrap}</a></p>
			<p><b>{$pl[i].person_title}</b></p>
			<p>{if $pl[i].age && !$pl[i].no_age}<b>{$pl[i].age}</b> y.o.,{/if} {if $pl[i].city}{$pl[i].city}, {/if} {assign var="ov" value=$pl[i].state}<a href="{$siteAdr}crew.php?cat={$cat}&amp;state={$pl[i].state}">{$states.$ov}</a></p>
			{*<p>Latest work: <a href="#">I love New York 2</a></p>*}
			{if $system_login && $UserInfo.uid != $pl[i].uid}
                <p class="u-tools">
                {if !$pl[i].is_friend}
                    <span style="float:left; width: 155px;"><img src="{$imgDir}add2_ico.gif" alt="Add to Contacts" /><a href="{$siteAdr}friend.php?mod=add&amp;fid={$pl[i].uid}">Add to contacts</a></span>
                {else}
                    <span style="float:left; width: 155px;"><img src="{$imgDir}del3_ico.gif" alt="Delete from contacts" /><a href="javascript: CGo('{$siteAdr}friend.php?mod=del&amp;fid={$pl[i].uid}', 'Are you sure?');">Delete from contacts</a></span>
                {/if}
                
                {if 2 == $UserInfo.status}
                    {if !$pl[i].is_roster}
                        <span style="float:left"><img src="{$imgDir}add2_ico.gif" alt="Add to Roster" /><a href="{$siteAdr}roster.php?mod=add&amp;fid={$pl[i].uid}">Add to roster</a></span>
                    {else}
                        <span style="float:left"><img src="{$imgDir}del3_ico.gif" alt="Delete from roster" /><a href="javascript: CGo('{$siteAdr}roster.php?mod=del&amp;fid={$pl[i].uid}', 'Are you sure?');">Delete from roster</a></span>
                    {/if}   
                {/if}
                </p>
			{/if}
            </div>
			</td>
        {if $smarty.section.i.index_next mod 2 == 0}
        </tr>
        {if !$smarty.section.i.last}
		<tr>
			<td class="g-sep" colspan="2">&nbsp;</td>
		</tr>
        {/if}        
        {/if}
        {sectionelse}
        <tr>
           <td colspan="2">Users not found</td>
        </tr>   
        {/section}
		<tr>
			<td class="nav-viewbox">
				{*Showing 10 of 156 contacts*}
			</td>
			<td class="nav-viewbox" align="right" style="font-size: 16px;">{$pagging}</td>
		</tr>
	</table>
</div>