<div class="content">
	<div class="crew-members-reg">
		    <p style="margin-left: 40px;"><img src="{$imgDir}title/crew_members_registration.gif" alt="Crew Member Registration" /></p>
			<form class="crew_members_reg-form" method="post" action="{$siteAdr}index.php" id="fmx">
            <input type="hidden" name="mod" value="reg" />
            <input type="hidden" name="rt" value="1" />
            	    {if $errs}
                    <p style="color: red;">
                    {foreach key=k item=i from=$errs}
                         - {$i}<br />
                    {/foreach}
                    </p>
                    {/if}
                    <table class="pass-t">
						<tr>
							<td><label>First Name</label></td><td ><input type="text" name="fm[name]" value="{$fm.name}" size="40" /></td>
						</tr>
						<tr>
							<td><label>Last Name</label></td><td><input type="text" name="fm[lname]" value="{$fm.lname}" size="40" /></td>
						</tr>
						<tr>
							<td><label>Email Address</label></td><td><input type="text" name="fm[email]" value="{$fm.email}" size="40" /></td>
						</tr>
						<tr>
							<td><label>Password</label></td><td><input type="password" name="fm[pass]" value="{if !$pass_err}{$fm.pass}{/if}" size="30" /></td>
						</tr>
						<tr>
							<td><label>Confirm Password</label></td><td><input type="password" name="fm[pass2]" value="{if !$pass_err}{$fm.pass2}{/if}" size="30" /></td>
						</tr>
						<tr>
							<td><label>Street Address</label></td><td><input type="text" name="fm[address]" value="{$fm.address}" size="60" /></td>
						</tr>
						<tr>
							<td><label>Apartment/Suite</label></td><td><input type="text" name="fm[suite]" value="{$fm.suite}" size="15" /></td>
						</tr>
						<tr>
							<td><label>City</label></td><td><input type="text" name="fm[city]" value="{$fm.city}" size="25" /></td>
						</tr>
						<tr>
							<td><label>State</label></td>
							<td>
								<select name="fm[state]">
                                <option value="0">Please select</option>
                                {foreach key=k item=i from=$states}
									<option value="{$i.code}"{if $i.code == $fm.state} selected="selected"{/if}>{$i.name}</option>
                                {/foreach}    
								</select>
							</td>
						</tr>
						<tr>
							<td><label>ZIP</label></td><td><input type="text" name="fm[zip]" value="{$fm.zip}" size="15" /></td>
						</tr>
						<tr>
							<td><label>Birthday</label></td>
							<td>
								<select name="fm[dob_month]">
									<option value="0">Month</option>
									{foreach key=k item=i from=$months}
									<option value="{$k}"{if $k == $fm.dob_month} selected="selected"{/if}>{$i}</option>
                                    {/foreach} 
								</select>
								<select name="fm[dob_day]">
									<option value="0">Day</option>
									{foreach key=k item=i from=$days}
									<option value="{$k}"{if $k == $fm.dob_day} selected="selected"{/if}>{$i}</option>
                                    {/foreach}
								</select>
								<select name="fm[dob_year]">
                                    <option value="0">Year</option>
									{foreach key=k item=i from=$years}
									<option value="{$k}"{if $k == $fm.dob_year} selected="selected"{/if}>{$i}</option>
                                    {/foreach}
								</select>
							</td>
						</tr>
						<tr>
							<td><label>Gender</label></td>
							<td>
								<select name="fm[gender]">
									<option value="0">Select gender</option>
									<option value="1"{if 1 == $fm.gender} selected="selected"{/if}>Male</option>
									<option value="2"{if 2 == $fm.gender} selected="selected"{/if}>Female</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><input type="checkbox" name="fm[confirm]" value="1"{if $fm.confirm} checked="checked"{/if} />&nbsp;&nbsp;By checking this box you agree to the Crewed Up <a href="{$siteAdr}index.php?mod=page&amp;pn=terms" target="_blank">Terms of Services</a> and <a href="{$siteAdr}index.php?mod=page&amp;pn=privacy" target="_blank">Privacy Policy</a>. </td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><p style="padding:15px 50px"><a href="javascript: _v('fmx').submit();"><img src="{$imgDir}go_big_b.gif" alt="Go" /></a></p></td>
						</tr>
											
					</table>
					</form>

	</div>
</div>