<div class="content">
	<div class="registration">
		<p><img src="{$imgDir}title/registration.gif" alt="Registration" /></p>
			<table>
				<tr>
					<td><a href="{$siteAdr}index.php?mod=reg&amp;rt=1"><img src="{$imgDir}crew_members_b.gif" alt="Crew Members" /></a></td>
					<td><a href="{$siteAdr}index.php?mod=reg&amp;rt=2"><img src="{$imgDir}employers_b.gif" alt="Employers" /></a></td>
				</tr>
				<tr>
					<td>
						<p>Create a FREE profile to stay in contact with crew members</p>
						<p>Create a Live Resume and share with employers</p>
						<p>Browse job by location and industry </p>
					</td>
					<td>
						<p>Create a FREE profile</p><br />
						<p>Post FREE 30-day job postings for open positions</p>
						<p>Browse Crewed Up for employees, gear, and services</p>
					</td>
				</tr>
			</table>
	</div>
</div>